*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*.apk
app/debug
anglePop/build/generated/res/
anglePop/build/generated/source/apt/
anglePop/build/generated/source/rs/
anglePop/build/intermediates/check-manifest/
anglePop/build/intermediates/incremental/debug-mergeJniLibs/
anglePop/build/intermediates/incremental/packageDebugResources/
anglePop/build/intermediates/incremental/packageReleaseResources/stripped.dir/
anglePop/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
anglePop/build/intermediates/intermediate-jars/debug/
anglePop/build/intermediates/intermediate-jars/release/jni/
anglePop/build/intermediates/jniLibs/
anglePop/build/intermediates/library_assets/
anglePop/build/intermediates/public_res/
anglePop/build/intermediates/rs/
anglePop/build/intermediates/shader_assets/
anglePop/build/intermediates/shaders/
anglePop/build/tmp/
jjdxm-ijkplayer/build/generated/res/
jjdxm-ijkplayer/build/generated/source/
jjdxm-ijkplayer/build/intermediates/check-manifest/
jjdxm-ijkplayer/build/intermediates/incremental/debug-mergeJniLibs/
jjdxm-ijkplayer/build/intermediates/incremental/packageDebugResources/
jjdxm-ijkplayer/build/intermediates/incremental/packageReleaseResources/stripped.dir/
jjdxm-ijkplayer/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
jjdxm-ijkplayer/build/intermediates/intermediate-jars/debug/
jjdxm-ijkplayer/build/intermediates/intermediate-jars/release/jni/
jjdxm-ijkplayer/build/intermediates/jniLibs/
jjdxm-ijkplayer/build/intermediates/library_assets/
jjdxm-ijkplayer/build/intermediates/public_res/
jjdxm-ijkplayer/build/intermediates/rs/
jjdxm-ijkplayer/build/intermediates/shader_assets/
jjdxm-ijkplayer/build/intermediates/shaders/
jjdxm-ijkplayer/build/tmp/
vlayout/build/generated/res/
vlayout/build/generated/source/apt/
vlayout/build/generated/source/rs/
vlayout/build/intermediates/check-manifest/
vlayout/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
vlayout/build/intermediates/incremental/packageDebugResources/stripped.dir/
vlayout/build/intermediates/incremental/packageReleaseResources/stripped.dir/
vlayout/build/intermediates/incremental/release-mergeJniLibs/zip-cache/
vlayout/build/intermediates/intermediate-jars/debug/jni/
vlayout/build/intermediates/intermediate-jars/release/jni/
vlayout/build/intermediates/jniLibs/
vlayout/build/intermediates/library_assets/
vlayout/build/intermediates/public_res/
vlayout/build/intermediates/rs/
vlayout/build/intermediates/shader_assets/
vlayout/build/intermediates/shaders/
vlayout/build/tmp/
