*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
/.idea/markdown-navigator/profiles_settings.xml
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/gradle.xml
/.idea/inspectionProfiles/Project_Default.xml

/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/misc.xml
*.apk
