<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhongyou.meet.mobile">

    <application
        android:name="com.zhongyou.meet.mobile.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_login_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zhongyou.meet.mobile.business.EvaluationActivity" />
        <activity android:name="com.zhongyou.meet.mobile.business.VersionActivity" />
        <activity android:name="com.zhongyou.meet.mobile.UserInfoActivity" /> <!-- 微信登录页面 -->
        <activity
            android:name="com.zhongyou.meet.mobile.wxapi.WXEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 主页 -->
        <activity
            android:name="com.zhongyou.meet.mobile.business.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.zy.train"
                    android:pathPrefix="/meeting/list"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhongyou.meet.mobile.business.MeetingSearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.OnCallActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.BindActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.DistrictActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.ReplyReviewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.agora.openlive.ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.LiveRoomActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.MeetingInitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.MeetingBroadcastActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.MeetingAudienceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.InviteMeetingBroadcastActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.InviteMeetingAudienceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.LinkEntryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.zy.train"
                    android:pathPrefix="/meeting"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhongyou.meet.mobile.business.PhoneRegisterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.PostTypeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.GridActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.CustomActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity android:name="com.zhongyou.meet.mobile.business.UpdateActivity" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.ChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.zhongyou.meet.mobile.business.ViewPagerActivity" />
        <activity android:name="com.zhongyou.meet.mobile.business.ImageBrowerActivity" />
        <activity
            android:name="com.zhongyou.meet.mobile.business.MeetingManagementActivity"
            android:theme="@style/NoTitle" />
        <activity android:name=".business.MeetingPublishActivity"  android:theme="@style/NoTitle"/>
        <activity
            android:name="com.zhongyou.meet.mobile.business.ForumActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="TD_APP_ID"
            android:value="${TD_APP_ID}" /> <!-- 服务开始 -->
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID}" /> <!-- 服务结束 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhongyou.meet.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider> <!-- TD统计 开始 -->
        <receiver android:name="com.zhongyou.meet.mobile.receiver.PhoneReceiver">
            <intent-filter>

                <!-- 获取来电广播 -->
                <action android:name="android.intent.action.PHONE_STATE" />
                <!-- 获取去电广播 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver> <!-- TD统计 使用build配置 -->
        <service android:name="com.zhongyou.meet.mobile.service.WSService" />
        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService"> <!-- 用户质量评估Service可以配置在主进程或者单独进程 -->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:xlargeScreens="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.yunos.tv.alitvasr.permission.SERVICE_LISTEN" />
    <uses-permission android:name="com.yunos.tv.alitvasr.permission.CONTROL" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>