<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hezy.guide.phone">

    <supports-screens
        android:anyDensity="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.yunos.tv.alitvasr.permission.SERVICE_LISTEN" />
    <uses-permission android:name="com.yunos.tv.alitvasr.permission.CONTROL" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--微信登录页面-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页-->
        <activity
            android:name=".business.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.hezy.guide.phone"
                    android:pathPrefix="/meeting/list"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <activity
            android:name=".business.MeetingSearchActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.OnCallActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.UserInfoActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.DistrictActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.ReplyReviewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name="io.agora.openlive.ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="io.agora.openlive.ui.LiveRoomActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="io.agora.openlive.ui.MeetingInitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.MeetingBroadcastActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="io.agora.openlive.ui.MeetingAudienceActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.InviteMeetingBroadcastActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="io.agora.openlive.ui.InviteMeetingAudienceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".business.LinkEntryActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.hezy.guide.phone"
                    android:pathPrefix="/meeting"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <activity
            android:name=".business.PhoneRegisterActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".business.PostTypeActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.GridActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".business.CustomActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity android:name=".business.UpdateActivity" />
        <activity
            android:name=".business.ChatActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".business.ViewPagerActivity" />
        <activity android:name=".business.ImageBrowerActivity" />
        <activity
            android:name=".business.MeetingManagementActivity"
            android:theme="@style/NoTitle" />
        <activity
            android:name=".business.ForumActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|navigation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".receiver.PhoneReceiver">
            <intent-filter>
                <!-- 获取来电广播 -->
                <action android:name="android.intent.action.PHONE_STATE" />
                <!-- 获取去电广播 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!--服务开始-->
        <service android:name=".service.WSService" />
        <!--服务结束-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hezy.guide.phone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>
        <!-- TD统计 开始-->
        <service
            android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>

        <!-- TD统计 使用build配置-->
        <meta-data
            android:name="TD_APP_ID"
            android:value="${TD_APP_ID}" />
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID}" />
        <!-- TD统计 结束-->


    </application>

</manifest>
